p{
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    text-decoration: none;
    color: #ffff00;
}
/*
.card-row{
    flex-direction: column-reverse;
}
*/
.card{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 30px 30px 30px;
}

.navbar{
    background-color: #333333;
}
/*
.transparent{
    background:rgba(255, 255, 255, 0.5);
}
*/
.content{
    margin-left: 550px;
    margin-right: 50px;
    opacity: 50%;
}


footer{
    right: 0;
    bottom:0;
    position: fixed;
}

#circle-menu{
    width:500px;
    position: fixed;

    margin-left: 25px;
    margin-top: 350px;
}

#main-body{
    background: #556270;
}

#market-sector-header{
    text-align: center;
}

#market-sector-body{
    text-align: left;
    word-break: break-word;
    word-wrap: break-word;
    vertical-align: top;
}

#contact-us{
    background: gray;
    padding: 20px;
}