<!--HEADER-->
<nav class="navbar navbar-light">
        <ul class="nav p">
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.dashboard" data-ui-sref-active="active"> Dashboard </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.blog" data-ui-sref-active="active"> Blog </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.learn" data-ui-sref-active="active"> Learn </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.resources" data-ui-sref-active="active"> Resources </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.about" data-ui-sref-active="active"> About </a>
            </li>
        </ul>
</nav>
<!-- <canvas id="circle-menu" width=500 height=500 data-ng-init="update(false)"></canvas> -->
</div>