
<!--HEADER-->
<nav class="navbar navbar-light">
    <div class="container">
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "home" data-ui-sref-active="active"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "recent" data-ui-sref-active="active"> Recent </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "learn" data-ui-sref-active="active"> Learn </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "about" data-ui-sref-active="active"> About </a>
            </li>
        </ul>
    </div>
</nav>

<!--<table border = {true}>-->
    <!--<tr>-->
        <!--<th> <a href = "index.html">            Home           </a></th>-->
        <!--<th> <a href = "get_started_page.html"> Get Started    </a> </th>-->
        <!--<th> <a href = "background_page.html">  Background     </a></th>-->
        <!--<th> <a href = "strategies_page.html">  Strategies     </a></th>-->
        <!--<th> <a href = "sectors_page.html">     Sectors        </a> </th>-->
        <!--<th> <a href = "research_page.html">    Research       </a> </th>-->
        <!--<th> <a href = "about_page.html">       About          </a> </th>-->
        <!--<th> <a href = "glossary_page.html">    Glossary       </a></th>-->
    <!--</tr>-->
<!--</table>-->

