
<!--HEADER-->
<nav class="navbar navbar-light">
        <ul class="nav p">
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.home" data-ui-sref-active="active"> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.learn" data-ui-sref-active="active"> Learn </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.resources" data-ui-sref-active="active"> Resources </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-ui-sref = "base.about" data-ui-sref-active="active"> About </a>
            </li>
        </ul>
</nav>

<div class="container">
    <canvas class="d-inline-block" id="circle-menu" width=500 height=500 ng-init="update(false)"></canvas>
    <div class="market-sector-overview d-inline-block">
        <h1 class="market-sector-header" ng-bind="sectorAnchor"></h1>
        <p class="market-sector-body"> Characterized by High Growth, high P/E ratio. Semiconductor cycles are generally seen as cyclical.</p>
    </div>
</div>

<!--<table border = {true}>-->
    <!--<tr>-->
        <!--<th> <a href = "index.html">            Home           </a></th>-->
        <!--<th> <a href = "get_started_page.html"> Get Started    </a> </th>-->
        <!--<th> <a href = "background_page.html">  Background     </a></th>-->
        <!--<th> <a href = "strategies_page.html">  Strategies     </a></th>-->
        <!--<th> <a href = "sectors_page.html">     Sectors        </a> </th>-->
        <!--<th> <a href = "research_page.html">    Research       </a> </th>-->
        <!--<th> <a href = "about_page.html">       About          </a> </th>-->
        <!--<th> <a href = "glossary_page.html">    Glossary       </a></th>-->
    <!--</tr>-->
<!--</table>-->

