<table border = {true}>
    <tr>
        <th> <a href = "index.html">            Home           </a></th>
        <th> <a href = "get_started_page.html"> Get Started    </a> </th>
        <th> <a href = "background_page.html">  Background     </a></th>
        <th> <a href = "strategies_page.html">  Strategies     </a></th>
        <th> <a href = "sectors_page.html">     Sectors        </a> </th>
        <th> <a href = "research_page.html">    Research       </a> </th>
        <th> <a href = "about_page.html">       About          </a> </th>
        <th> <a href = "glossary_page.html">    Glossary       </a></th>
    </tr>
</table>

